<p id="notice"><%= notice %></p>

<h3>Posts</h3>

<table class="striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td><%= post.contenido %></td>
        <td><%= link_to 'Ver', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Borrar', post, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'Crear Post', new_post_path, class:"waves-effect waves-light btn" %>
<% else %>
  <%= link_to "Crear Post", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
